.page-top {
  position: relative;
  width: 100%;
  overflow: hidden;
  height                 : 100vh;
  background-color: #191A1D;
  h1 {
    color: var(--white);
    font-size: 3rem;
  }
  p {
      font-size: 2rem;
      color: #ABAB99;
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.top-content {
    position: absolute;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    @media (max-width: 576px) {
      top: 20%;
    }
}

.top-image {
    width: 100%;
    img {
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        border-radius: 60%;
    }
  }

.services-sect {
  text-align: center;
  .fas {
    color: #4B6CC1;
    font-size: 40px;
  }
}

#projects {
  background-color: #F6F6F6;
  padding-bottom: 30px;
}

.about-sect {
  margin: 50px 0;
  padding: 0;
  min-height: 350px;
  // border-bottom: 1px solid black;
  .about-words {
    height: 100%;
    align-items: center;
    padding: 20px;
    p {
      font-size: 15px;
      font-weight: 500;
    }
  }
  .about-image {
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
  }
  @media (max-width: 576px) {
    .about-words {
      padding: 5px 15px;
      p {
          font-size: 16px;
        }
    }
  }
}

.others {
  .card-1 {
    margin-left: 90px;
  }
  .card-2 {
    margin: 0 50px;
  }
  @media (max-width: 769px) {
    .card-1, .card-2, .card-3{
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
.about-me {
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.contact {
  background-color: #191A1D;
  padding: 80px;
  font-size: 24px;
  .fas, .fab {
    margin-right: 10px;
    color: #4B6CC1;
  }
  a, p {
    color: #ABAB99;
  }
  a {
    font-weight: 600;
  }
  h1 {
    color: var(--white);
    font-size: 50px;
  }
}

.foot {
  padding: 30px;
  background-color: #151618;
}