.page-top {
  position: relative;
  width: 100%;
  overflow: hidden;
  height                 : 100vh;
  background-color: #191A1D;
  h1 {
    color: var(--white);
    font-size: 3rem;
  }
  p {
      font-size: 2rem;
      color: #ABAB99
  }
}

.top-content {
    position: absolute;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
}

.top-image {
    width: 100%;
    height: 300px;
    img {
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        border-radius: 60%;
    }
  }

.services-sect {
  text-align: center;
  .fas {
    color: #4B6CC1;
    font-size: 40px;
  }
}